<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <title>Help-card OGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reminder.css">
</head>

<body>
    <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark">
                <img src="assets/logo.png" id="dark-mode" alt="" width="180px" class="mb-3 mb-lg-0 me-4 mt-3 ms-lg-2 me-lg-1 mt-lg-0 img1">
            </span>
            <ul class="nav nav-pills mt-lg-1">
                <li class="nav-item ms-4 ms-lg-0"><a href="/main" class="btn btn-md btn-primary fw-bold text-white pb-2" aria-current="page">Главная</a></li>
                <li class="nav-item"><a href="/pamyatkaplus" class="nav-link"><span class="span">Памятка+</span></a></li>
                <li class="nav-item"><a href="/reminder" class="nav-link">Инструкция</a></li>
                <li class="nav-item ms-2 ms-lg-0"><a href="/video" class="nav-link">Отдельные видеообучалки</a></li>
                <li class="nav-item ms-2 ms-lg-0"><a href="https://inf-oge.sdamgia.ru/" class="nav-link">Исходники</a></li>
            </ul>
        </header>
        <main>
            <div class="container1">
                <h2 class="first-title"><b>Как устроен ОГЭ по информатике в 2024 году</b></h2><br><br>
                <h5 class="h5">На экзамен по информатике у каждого ученика 9 класса будет 2 часа 30 минут (150 минут).<br> За это время он должен будет выполнить 15 заданий: 12 из 1-й части и 3 из 2-й. <br>Теста, привычного ученикам по другим ОГЭ, в экзамене по информатике
                    не будет.<br> Вместо этого в 1-й части нужно будет выполнить задание и записать краткий ответ. <br>Во 2-й части школьника ждут практические задания. Их нужно будет выполнить на компьютере в специальных программах. <br>Все задания ОГЭ
                    по информатике также можно разделить по уровням сложности. <br>Так, на экзамене ученик столкнётся: с 10 заданиями базового уровня; с 3 заданиями повышенного уровня; с 2 заданиями высокого уровня.<br> Изменений в структуре экзамена
                    или КИМах ОГЭ по сравнению с предыдущим годом не будет.</h5><br><br>
                <h3><b>Критерии</b></h3><br><br>
                <table class="info-table" rules="all">
                    <tbody border="1">
                        <tr>
                            <th width="50%">Балл</th>
                            <th width="50%">Оценка</th>
                        </tr>
                        <tr>
                            <td>
                                <p>0-4</p>
                            </td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>
                                <p>5-10</p>
                            </td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>
                                <p>11-15</p>
                            </td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>
                                <p>16-19</p>
                            </td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table><br> <br> <br>
                <h2 class="h2">Перейдем к алгоритму решения задач (задания и обьяснение к ним идут по порядку)</h2>
                <div class="tasks">
                    <div class="blockt1">
                        <a href="#task1">Задание 1</a>
                        <a href="#task2">Задание 2</a>
                        <a href="#task3">Задание 3</a>
                        <a href="#task4">Задание 4</a>
                        <a href="#task5">Задание 5</a>
                        <a href="#task6">Задание 6</a>
                        <a href="#task7">Задание 7</a>
                        <a href="#task8">Задание 8</a>
                        <a href="#task9">Задание 9</a>
                    </div>
                    <div class="blockt2">
                        <a href="#task10">Задание 10</a>
                        <a href="#task11">Задание 11</a>
                        <a href="#task12">Задание 12</a>
                        <a href="#task13">Задание 13.1</a>
                        <a href="#task13">Задание 13.2</a>
                        <a href="#task14">Задание 14</a>
                        <a href="#task15">Задание 15.1</a>
                        <a href="#task15">Задание 15.2</a>
                    </div>
                </div>
                <br>
                <hr><br>
                <h3 id="task1"><b>Задание №1</b></h3><br><br>
                <p>Для решения первого задания необходимо выучить таблицу перевода различных единиц информации. <br> Достаточно будет запомнить два числа - 8 и 1024 - а далее выучить таблицу будет легко.</p>
                <img class="img2" src="assets/1.jpg" alt="" width="450px"><br><br>
                <p><b>Далее рассмотрим пример решения (ниже)</b></p>
                <p><b>Задача</b></p>
                <p>В кодировке UTF-32 каждый символ кодируется 32 битами. Костя написал текст (в нём нет лишних пробелов):<br> «Бай, аэта, волоф, кереки, киргизы, норвежцы— народы». <br>Ученик вычеркнул из списка название одного из народов.<br> Заодно он
                    вычеркнул ставшие лишними запятые и пробелы — два пробела не должны идти подряд.<br> При этом размер нового предложения в данной кодировке оказался на 24 байта меньше, чем размер исходного предложения.<br> Напишите в ответе вычеркнутое
                    название народа.
                    <br> <br><b>Решение</b><br>
                    <br> В первой задаче ОГЭ по информатике 2023 обычно есть текст в кавычках, который написан учеником.<br> Мы знаем, что в данной задаче каждый символ кодируется 32 битами. <br> Зная, что в каждом байте 8 битов, переведем биты в байты:
                    32 : 8 = 4 (байта).<br> Так как текст по условию уменьшился на 24 байта, найдем на сколько символов уменьшился текст: 24 : 4 = 6 (символов) <br> Так как по условию ученик вычеркнул вместе со словом запятую и пробел, вычтем 2 символа:
                    6 - 2 = 4 (символов) <br> Далее ищем в нашем ряду слово из 4-х символов, тоесть из 4-х букв. <br> ОТВЕТ: <b><i>аэта</i></b></p>
                <p><b>Рассмотрим другой тип задачи №1</b></p>
                <p><b>Задача</b></p>
                <p>В кодировке Windows-1251 каждый символ кодируется 8 битами. Вова хотел написать текст (в нём нет лишних пробелов):<br> «Скользя по утреннему снегу,<br> Друг милый, предадимся бегу <br>Нетерпеливого коня <br>И навестим поля пустые...»<br>Одно
                    из слов ученик написал два раза подряд, поставив между одинаковыми словами один пробел.<br> При этом размер написанного предложения в данной кодировке оказался на 8 байт больше, чем размер нужного предложения.<br> Напишите в ответе
                    лишнее слово.<br> <br><b>Решение</b><br>
                    <br> Здесь аналогично с предыдущим типом переведем биты в байты (по условию символ кодируется 8-ми битами): 8 : 8 = 1 (байт) <br> Так как текст по условию уменьшился на 8 байт, найдем на сколько символов уменьшился текст: 8 : 1 = 8
                    (символов) <br> Потому, что ученик вычеркнул вместо со словом только один пробел, БЕЗ запятой (по условию), вычтем 1 символ: 8 - 1 = 7 (символов) <br> Также, как и в первом типе, ищем слово из получившегося количества символов, а именно
                    слово из 7-ми букв <br> ОТВЕТ: <i><b>скользя</b></i></p><br>
                <hr><br>
                <h3 id="task2"><b>Задание №2</b></h3><br><br>
                <p>Все типы задания №2 - это кодировки. Рассмотрим все типы задач (ниже)</p>
                <p><b>Задача</b></p>
                <p>Вася и Петя играли в шпионов и кодировали сообщения собственным шифром. Фрагмент кодовой таблицы приведён ниже:</p>
                <br>
                <p>
                    <style>
                        .tdwidth td {
                            width: 35px;
                            text-align: center
                        }
                    </style>
                </p>
                <p></p>
                <div>
                    <table style="margin:auto; border: 1px solid #000;" class="tdwidth">
                        <tbody>
                            <tr style="border: 1px solid #000;">
                                <th style="text-align:center; border: 1px solid #000;">К</th>
                                <th style="text-align:center; border: 1px solid #000;">Л</th>
                                <th style="text-align:center; border: 1px solid #000;">М</th>
                                <th style="text-align:center; border: 1px solid #000;">П</th>
                                <th style="text-align:center; border: 1px solid #000;">О</th>
                                <th style="text-align:center; border: 1px solid #000;">И</th>
                            </tr>
                            <tr>
                                <td>@+</td>
                                <td style="text-align:center; border: 1px solid #000;">~+</td>
                                <td style="text-align:center; border: 1px solid #000;">+@</td>
                                <td style="text-align:center; border: 1px solid #000;">@~+</td>
                                <td style="text-align:center; border: 1px solid #000;">+</td>
                                <td style="text-align:center; border: 1px solid #000;">~</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <p>Расшифруйте сообщение, если известно, что буквы в нём не повторяются: </p>
                <p>+ ~ + ~+@@~ +</p>
                <p>Запишите в ответе расшифрованное сообщение.</p>
                <p><b>Решение</b></p>
                <p>Существует два способа решения кодировок: с конца, либо же с начала (кому как подойдет) <br> Кодировка начинается с символа плюс. Посмотрим в таблицу и увидим, <br>что буквы "М" и "О" начинаются с +, но в "М" после + стоит символ @, которого
                    нет в кодировке после +.<br> Следовательно нам подходит буква "О". Следующий символ: волнистая линия. Это может как буквой "Л", так и буквой "И".<br> В таких ситуациях мы должны выбрать любой вариант, и попробовать расшифровать дальше.
                    Если получится, то мы выбрали верный вариант. <br> Если нет, то необходимо вернуть в ту точку, где сделали выбор, и выбрать второй вариант, который в прошлый раз не выбрали. Здесь выберем букву "Л".<br> Если в моменте у вас возникли
                    трудности, можно переключиться на конец кодировки. В конце кодировки символы @ ~ +. К этому подходит только буква "П"<br> Пока что у нас получается слово ОЛ...М и остаются символы ~ + @, перебирая все варинты, находим единственную
                    расшифровку "И" "М". <br>ОТВЕТ: <i><b>олимп</b></i>
                </p>
                <p><b>Рассмотрим другой тип задачи №2</b></p>
                <p><b>Задача</b></p>
                <p>Ваня шифрует русские слова, записывая вместо каждой буквы её номер в алфавите (без пробелов). Номера букв даны в таблице:</p>
                <img src="assets/2.jpg" alt=""><br><br>
                <p>
                    Некоторые шифровки можно расшифровать несколькими способами. Например, 12112 может означать «АБАК», может— «КАК», а может— «АБААБ». <br>Даны четыре шифровки: <br>20335<br> 21120<br> 31321<br> 51201<br> Только одна из них расшифровывается
                    единственным способом. <br>Найдите её и расшифруйте. То, что получилось, запишите в качестве ответа.</p>
                <p><b>Решение</b></p>
                <p>Рассмотрим первый код 20335. Двадцать 20 мы может расшифровать только, как букву "Т". <br>Следующие две тройки 33 можно расшифровать, как две буквы "В" подряд, а можно, как букву "Я".<br> Значит, этот шифр можно расшифровать разными способами.
                    Рассмотрим следующий код 21120. <br>Первое сочетание 21 можно расшифровать, как 2 и 1 - "Б", "A", а можно и как 21 - "У".<br> Следовательно, данный код можно расшифровать разными способами. Рассмотрим следующий код 31321.<br> Сочетание
                    31 можно рассматривать, как 3 и 1, а можно, как 31.<br> Поэтому шифр не подходит. Остался последний шифр 51201. Убедимся, что данный код нам подходит. 51 - это 5 и 1, т.е. "Д" и "А". <br>Двадцать 20 - это только буква "Т". Единица
                    1 - это "A". <br>ОТВЕТ: <i><b>дата</b></i></p> <br>
                <hr><br>
                <h3 id="task3"><b>Задание №3</b></h3><br><br>
                <p>В третьем задании представлены логические выражения. В логическом выражении могут использоваться союз И и союз ИЛИ</p>
                <p><b>Задача</b></p>
                <p>Напишите наименьшее число X, для которого истинно высказывание:</p>
                <p> (X > 16) <b> И НЕ</b> (X нечётное)</p>
                <p><b>Решение</b></p>
                <p>Получается наш X должен быть больше 16, и число должно быть не нечётное, т.е. чётное!<br> Наименьшее чётное число большее 16 будет 18<br>ОТВЕТ: <i><b>18</b></i></p> <br><br>
                <p><b>Рассмотрим другие типы задачи №3</b></p><br><br>
                <p><b>Задача</b></p>
                <p>Напишите наибольшее целое число x, для которого истинно высказывание:</p>
                <p>
                    <b>НЕ</b> (X
                    <=6 ) <b>И НЕ</b> (X>= 11)</p>
                <p><b>Решение</b></p>
                <p>С одной стороны X должен быть НЕ меньше или равно 6, т.е значит, X нужно взять больше 6 (X > 6).<br> Причём само число 6 не входит в этот диапазон. С другой стороны X НЕ больше или равно 11,<br> т.е. X должен быть меньше 11 (X
                    < 11). Наибольшее целое число - 10 <br> ОТВЕТ: <i><b>10</b></i></p><br>
                <p><b>Следующая задача</b></p><br>
                <p><b>Задача</b></p>
                <p>Для какого целого числа X ЛОЖНО высказывание:
                    <br> (X> 3) <b>ИЛИ НЕ</b> (X > 2)</p>
                <p><b>Решение</b></p>
                <p>Утверждение, что X > 3 должно быть ложно, значит, если его перевернуть, получится X
                    <=3 . <br> Второе утверждение НЕ (X > 2) тоже должно быть ложно. Значит, если перевернём это утверждение, частицу НЕ нужно убрать.<br> Получается просто X > 2. Получается, что только одно целое число входит в допустимый диапазон. <br>ОТВЕТ: <b><i>3</i></b></p>
                <br>
                <p><b>И рассмотрим последнюю задачу</b></p><br>
                <p><b>Задача</b></p>
                <p>Напишите наименьшее натуральное число x, для которого истинно высказывание:<br>
                <b>НЕ</b>((x
                    <=200) <b>ИЛИ</b> (x
                        <=100))</p>
                            <p><b>Решение</b></p>
                            <p>Нам нужно сделать выражение истинным. Но всё выражение находится под влиянием частицы НЕ.<br> Можно эту частицу полностью убрать, но воспринимать, как будто нужно сделать выражение ложным.<br> А дальше всё как обычно. Первое
                                выражение выдаёт ноль, когда x>200 (равно 200 не входит).<br> Второе выражение выдаёт ноль, когда x>100. Объединив эти два условия получаем:
                                <br>x > 200 <br> Наименьшее число - 201 <br> ОТВЕТ: <i><b>201</b></i></p><br>
                            <hr><br>
                            <h3 id="task4"><b>Задание №4</b></h3><br><br>
                            <p>В четвертом задании представлена карта городов и дорог между городами. Рассмотрим примеры</p>
                            <p><b>Задача</b></p>
                            <p>Между населёнными пунктами A, B, C, D построены дороги, протяжённость которых (в километрах) приведена в таблице.</p>
                            <br><img class="img3" src="assets/4.jpg" alt=""><br><br>
                            <p>Определите длину кратчайшего пути между пунктами A и C.<br> Передвигаться можно только по дорогам, протяжённость которых указана в таблице.</p>
                            <p><b>Решение</b></p>
                            <p>1)Расставим точки, которые символизируют города, примерно по кругу.<br>2)Проведём дороги между городами так, как указано в таблице.<br>3)Если на пересечении городов стоит число, значит, мы проводим линию между этими точками.<br>4)Поставим
                                числа над каждой дорогой, характеризующие длины каждого отрезка. <br>5)Теперь найдём самый короткий путь из A в C. Можно сразу попасть из A в C по прямой дороге за 8.<br> Если пойдём через пункт D, то придём в город C за
                                7. Через город B так же можно прийти за 7 километров. <br>Но мы видим, что длина дороги из D в B равна 1. Попытаемся эту дорогу использовать при составлении маршрута.<br> Получим путь: A-D-B-C. Получается 3+1+2=6. Это и
                                есть кратчайший путь.</p>
                            <img src="assets/2 (2).jpg" alt="">
                            <br>
                            <p>ОТВЕТ: <i><b>6</b></i></p> <br><br>
                            <p><b>Рассмотрим немного другую задачу №4</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>Между населёнными пунктами A, B, C, D, E построены дороги, протяжённость которых (в километрах) приведена в таблице.</p>
                            <br><img src="assets/4 (3).jpg" alt=""><br><br>
                            <p>Определите длину кратчайшего пути между пунктами A и Е, проходящего через пункт С.<br> Передвигаться можно только по дорогам, протяжённость которых указана в таблице, два раза посещать один пункт нельзя.</p>
                            <p><b>Решение</b></p>
                            <p>1)Расставим точки по кругу. Точка С - это обязательный пункт. 2)Теперь можно начать искать кратчайший путь от A до E, проходящего через C.<br>3)Найдём кратчайший путь до точки С. Это и есть путь A-C. Он равен 5. <br>4)От С
                                до E можно добраться разными путями: C-E = 8 либо C-D-E = 2 + 5 = 7 либо C-B-E = 4 + 3 = 7<br>5)Видим длину BD = 1. Попытаемся использовать эту дорогу!<br>6) C-D-B-E = 2 + 1 + 3 = 6 Это и есть самый короткий путь.</p>
                            <br><img src="assets/4 (4).jpg" alt=""><br><br>
                            <p>В конце посчитаем путь и получившееся число запишем в ответ: A-C-D-B-E = 5 + 6 = 11.</p>
                            <br>
                            <p>ОТВЕТ: <i><b>11</b></i></p><br>
                            <hr><br>
                            <h3 id="task5"><b>Задание №5</b></h3><br><br>
                            <p>В задании представлены простые линейные алгоритмы. Рассмотрим подробнее</p>
                            <p><b>Задача</b></p>
                            <p>У исполнителя Гамма две команды, которым присвоены номера:<br><b> 1. прибавь 3;</b><br><b>2. умножь на b</b><br>(b — неизвестное натуральное число; b ≥ 2).<br> Выполняя первую из них, Гамма увеличивает число на экране на 3,
                                а выполняя вторую, умножает это число на b. <br> Программа для исполнителя Гамма — это последовательность номеров команд. <br> Известно, что программа 11121 переводит <b>число 3 в число 75.</b> Определите значение b.</p>
                            <p><b>Решение</b></p>
                            <p>В условии дана программа с названием из ряда цифр - это и есть последовательность выполнения преобразований числа 3 в число 75<br>Также в условии сказано что номер 1 прибавляет 3 к нашему числу, а у нас в ряду алгоритма первые
                                три команды это единицы.<br> Следовательно прибавляет к числу 3 три раза по 3: 3 + 3 + 3 + 3 = 12.<br> Дальше у нас осталось две команды до получения числа 75.<br> Так как мы не знаем число b то начнем с конца, а именно
                                из 75 вычтем 3 <br>(потому что последняя команда это единица (прибавить 3), а вычитаем из-за обратности действия: 75 - 3 = 72. <br>Далее у нас получается что из числа 12 командой 2 (умножение на b) у нас получается число
                                72.
                                <br> Следовательно делим 72 на 12 так как обратно действие выполяется по условию (т.е. умножжение по условию): 72 : 12 = 6. <br>Ну и наконец записываем ответ.<br>ОТВЕТ: <i><b>6</b></i></p> <br><br>
                            <p><b>Рассмотрим другой тип задачи №5</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>У исполнителя Квадратор две команды, которым присвоены номера:<br> <b>1. прибавь 1 </b><br><b>2. возведи в квадрат</b><br> Первая из них увеличивает число на экране на 1, вторая возводит его во вторую степень. <br>Составьте
                                алгоритм получения из <b>числа 3 числа 84</b>, содержащий не более 5 команд.<br> В ответе запишите только номера команд. <br><br> <i>(Например, 11221 — это алгоритм: <br>прибавь 1 <br>прибавь 1 <br>возведи в квадрат <br>возведи в квадрат<br> прибавь 1,<br> который преобразует число 1 в 82.)<br></i><br>                                Если таких алгоритмов более одного, то запишите любой из них.</p>
                            <p><b>Решение</b></p>
                            <p>В этой задаче сразу начнем с конца составлять алгоритм, напомню, что в результате полученно число 84.<br> Число 84 не является квадратом какого-либо числа, значит пятая (последняя) команда нашего алгоритма - это прибавить 1.
                                <br>Вычтем из 84 число 1 чтобы отбросить последнюю команду: 84 - 1 = 83. <br>Число 83 также не является квадратом, следовательно предпоследняя команда нашего алгоритма - прибавить 1.<br> Аналогично 83 - 1 = 82. Число 82
                                опять не является квадратом, и у нас пока что алгоритм ..111 (точки - неизвестные команды). <br>Опять убираем третью команду обратностью вычисления: 82 - 1 = 81. <br>Вот тут уже число 81 является квадратом числа 9. Следовательно
                                алгоритм .2111(точки - неизвестные команды).<br> Ну и исходное число 3 в квадрате дает наше число 9, поэтому первая команда алгоритма - возвести в квадрат (2).<br> Записываем в ответ полученный алгоритм. <br> ОТВЕТ: <i><b>22111</b></i></p><br>
                            <hr><br>
                            <h3 id="task6"><b>Задание №6</b></h3><br><br>
                            <p>В задании 6 мы имеем программы с условными операторами. Программы написаны на 5-ти языках.<br> <b><i>Совет</i></b>: Python (питон) наиболее легкий для понимания, если немного разбираетесь в английском (например "OR" - это ИЛИ,
                                а не И).<br> Если же этот варинт вам не подходит, то смотрите через программу, написанную на Алгоритмическом языке.</p>
                            <p><b>Задача</b></p>
                            <p>Ниже приведена программа, записанная на пяти языках программирования.</p><br>
                            <img src="assets/6.png" alt="" width="450px" class="img4"><br><br>
                            <p>Было проведено 9 запусков программы, при которых в качестве значений переменных s и t вводились следующие пары чисел:</p>
                            <p>(2, 5); (5, 2); (4, 4); (2, –2); (3, 1); (8, 3); (9, –7); (7, 7); (4, 6).<br><br> Сколько было запусков, при которых программа напечатала «NO»?</p>
                            <p><b>Решение</b></p>
                            <p>По условию программа пишет "YES", если переменная s
                                < 5 ИЛИ t> 5. Во всех остальных случаях программа пишет "NO".<br>Для начала остановим условия написания программой значения "NO",<br> а именно заменим знаки обратными: s >= 5 ИЛИ t
                                    <=5 , то есть у переменной S знак "меньше"(<) меняем на знак "больше или равно"(>=),<br> а у переменной T знак "больше"(>) меняем на знак "меньше или равно"(
                                        <=)<br>После этого видим четкие условия для NO: s >= 5 И t
                                            <=5 <br> Далее перебираем все варианты проведенных запусков ниже (s,t). <br>Помним, что для написания программой "NO должны выполняться два наших условия(которые нашли мы),<br> тогда как при "YES " достаточного одного(которые
                                                даны по условию).<br> В итоге запуски: (5, 2); (8, 3); (9, –7) нам подходят. Запишем их количество в ответ.<br> ОТВЕТ: <i><b>3</b></i></p><br><br>
                            <p><b>Рассмотрим другой тип задачи №6</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>Ниже приведена программа, записанная на пяти языках программирования.</p><br>
                            <img src="assets/6 (2).png" alt="" width="450px" class="img5"><br><br>
                            <p>Было проведено 9 запусков программы, при которых в качестве значений переменных s и t вводились следующие пары чисел:</p>
                            <p>(13, 2); (11, 12); (–12, 12); (2, –2); (–10, –10); (6, –5); (2, 8); (9, 10); (1, 13).<br><br> Укажите наименьшее целое значение параметра A, при котором для указанных входных данных программа напечатает «NO» восемь раз.</p>
                            <p><b>Решение</b></p>
                            <p>Аналогично с задачей выше, так как у нас в условии программа должна печатать "NO", то меняем знаки у переменных: s
                                <=A И t <=1 2.<br>Начинаем перебирать верное выполнение условия с переменной t, из ряда запусков можем исключить запуск (1,13),<br> так как 13 больше 12(у нас число запуска t
                                    <=1 2). И далее нам нужно подобрать то число А, <br>при котором программа напечатает "NO" 8 раз, то есть s
                                        <=A 8 раз.<br> После этого смотрим на оставшееся запуски, а именно на их первые числа(переменные S).<br> Пока что у нас даны числа: 13, 11, -12, 2, -10, 6, 2, 9.<br> Их восемь, и это облегчает нам задачу,<br> иначе нам бы пришлось
                                            подбирать наименьшее число A подстраиваясь под заданной количество раз написания "NO".<br> Понимаем, что наименьшее число А, при котором S
                                            <=A - это 13.<br> Записываем ответ.<br>ОТВЕТ: <i><b>13</b></i></p> <br>
                            <hr><br>
                            <h3 id="task7"><b>Задание №7</b></h3><br><br>
                            <p>В заданиях номер 7 нам предстоит составить маршрут адресной строки к какому-либо файлу на сервере. Разберемся по-подробнее.</p>
                            <p><b>Задача</b></p>
                            <p>Доступ к файлу <b>com.pas</b>, находящемуся на сервере <b>net.ru</b>, осуществляется по протоколу <b>http</b>.<br> Фрагменты адреса файла закодированы буквами от А до Ж.<br> Запишите последовательность этих букв, кодирующую
                                адрес указанного файла в сети Интернет.</p>
                            <div class="ex7">
                                <p>А) ://<br> Б) /<br> В) .pas<br> Г) net<br> Д) .ru<br> Е) http<br> Ж) com</p>
                            </div>
                            <p><b>Решение</b></p>
                            <p>Начнем составлять маршрут к необходимому файлу.<br> Первым пишется протокол, на котором находится сервер. ( http ) <br> Далее идет двоеточие и два слэша ( :// ) <br> После идет сервер и его родовой домен либо домен страны,<br>на
                                котором лежит файл ( net(сервер).ru(домен страны) )<br> Далее слэш ( / ) и после слэша сам файл с <br> его расширением ( /com (файл).pas (расширение) ).<br> Записываем полную адресную строку (rout к файлу).<br> ОТВЕТ: <i><b>ЕАГДБЖВ</b></i></p><br><br>
                            <p><b>Рассмотрим еще один пример задачи №7</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>Доступ к файлу table.xls, находящемуся на сервере sch.com, осуществляется по протоколу https.<br> Фрагменты адреса файла закодированы буквами от А до Ж. <br>Запишите последовательность этих букв, кодирующую адрес указанного
                                файла в сети Интернет.</p>
                            <div class="ex77">
                                <p>А) com<br> Б) https<br> В) ://<br> Г) sch.<br> Д) .xls<br> Е) table<br> Ж) /</p>
                            </div>
                            <p><b>Решение</b></p>
                            <p>Также как и в примере выше, пишем протокол ( https )<br> Далее двоеточие и два слэша ( :// ).<br> Затем сервер и его коммерческий домен ( sch (сервер).com (домен) )<br> Ставим слэш ( / ) и имя файла с<br> его расширением (
                                /table (файл).xls (расширение) ). Записываем ответ.
                                <br>ОТВЕТ: <i><b>БВГАЖЕД</b></i></p> <br>
                            <hr><br>
                            <h3 id="task8"><b>Задание №8</b></h3><br><br>
                            <p>В заданиях 8 представлены запросы с использованием логических выражений.</p>
                            <p><b>Задача</b></p>
                            <p>В языке запросов поискового сервера для обозначения логической операции «ИЛИ»<br> используется символ «|», а для логической операции «И» — символ «&». В таблице<br> приведены запросы и количество найденных по ним страниц некоторого<br> сегмента сети. Считается, что все запросы выполнялись практически<br> одновременно, так что набор страниц, содержащих все искомые слова, <br> не изменялся за время выполнения запросов.</p>
                            <img src="assets/8.png" class="img8" alt=""><br><br>
                            <p>Какое количество страниц (в тысячах) будет найдено по запросу <i>Лилия | Цветок</i>?</p>
                            <p><b>Решение</b></p>
                            <p>Для решения этой задачи можно воспользоваться либо формулами или через круги Эйлера.<br> Рассмотрим решения по формуле:<br><br> (Лилия | Цветок) = (Лилия) - (Лилия & Цветок) + (Цветок)=<br> = 800 - 550 + 950 = 1200. Записываем ответ.<br> ОТВЕТ: <i><b>1200</b></i></p><br><br>
                            <p><b>Рассмотрим еще один пример задачи №8</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>В языке запросов поискового сервера для обозначения логической операции «ИЛИ»<br> используется символ «|», а для логической операции «И» — символ «&». В таблице<br> приведены запросы и количество найденных по ним страниц некоторого<br> сегмента сети. Считается, что все запросы выполнялись практически<br> одновременно, так что набор страниц, содержащих все искомые слова, <br> не изменялся за время выполнения запросов.</p>
                            <img src="assets/8 (2).png" class="img82" alt=""><br><br>
                            <p>Какое количество страниц (в тысячах) будет найдено по запросу <i>Лебедь</i>?</p>
                            <p><b>Решение</b></p>
                            <p>Воспользуемся формулой:<br><br>(Лебедь) = -(Царевна | Лебедь) - (Царевна) + (Царевна & Лебедь) =<br>= 4000 - 3200 + 900 = 1700. <br>ОТВЕТ: <i><b>1700</b></i></p> <br>
                            <hr><br>
                            <h3 id="task9"><b>Задание №9</b></h3><br><br>
                            <p>В задачах №9 встречается анализирование информации, представленной в виде схем.</p>
                            <p><b>Задача</b></p>
                            <p>На рисунке — схема дорог, связывающих города А, Б, В, Г, Д, Е, Ж, И, К, Л. По каждой дороге<br> можно двигаться только в одном направлении, указанном стрелкой. Сколько<br> существует различных путей из пункта А в пункт Л, проходящих через пункт И?</p>
                            <img src="assets/9.png" class="img9" alt=""><br><br>
                            <p><b>Решение</b></p>
                            <p>Количество путей из пункта А в пункт Л, проходящих через пункт И, равно<br> произведению количества путей из пункта А в пункт И В и количества<br> путей из пункта И в пункт Л.<br>Найдем количество путей из пункта А в пункт И:
                                <br>А = 1.
                                <br>Б = А = В = 1.
                                <br>Ж = Б = 1
                                <br>Г = А + Б + В + Ж = 4
                                <br>Д = Ж = 1
                                <br>Е = Д + Г = 5.
                                <br>И = Г + Е + В = 10.
                                <br>Из пункта И в пункт Л есть только один путь И - К - Л.
                                <br>Тогда количество путей из пункта А в пункт Л, проходящих через пункт И,<br> равно 10 · 1 = 10.<br> ОТВЕТ: <i><b>10</b></i></p><br><br>
                            <p><b>Рассмотрим еще один пример задачи №9</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>На рисунке — схема дорог, связывающих города А, Б, В, Г, Д, Е, Ж, И, К. По каждой дороге<br> можно двигаться только в одном направлении, указанном стрелкой. Сколько<br> существует различных путей из пункта А в пункт К, не проходящих через пункт В?</p>
                            <img src="assets/9 (2).png" class="img92" alt=""><br><br>
                            <p><b>Решение</b></p>
                            <p>Наш путь в условии не должен проходить через какой-то город,<br> нужно просто не учитывать этот город при подсчёте сумм.<br> А если город, наоборот, обязательно должен лежать на пути, тогда <br>для городов, в которые из нужного города идут дороги,<br> в суммах нужно брать только этот город
                                <br>С помощью этого наблюдения посчитаем последовательно количество путей до каждого из городов:
                                <br>А = 1.
                                <br>Б = А = 1.
                                <br>Г = А = 1.
                                <br>Д = Б = 1.
                                <br>Е = Д = 1 (В не учитываем, поскольку путь не должен проходить через город В).
                                <br>Ж = Д = 1.
                                <br>И = Г + Е = 2.
                                <br>К = Ж + Е + И + Д = 5.<br>ОТВЕТ: <i><b>5</b></i></p> <br>
                            <hr><br>
                            <h3 id="task10"><b>Задание №10</b></h3><br><br>
                            <p>В заданиях №10 нам предстоит сравнивать числа в разных системах счисления.</p>
                            <p><b>Задача</b></p>
                            <p>Переведите двоичное число 1110110 в десятичную систему счисления.</p>
                            <p><b>Решение</b></p>
                            <p>Давайте переведем данное число в десятичную систему счисления по формуле: <br><br>1110110<sub>2</sub> = 1 · 2<sup>6</sup> +  1 · 2<sup>5</sup> + 1 · 2<sup>4</sup> + 1 · 2<sup>2</sup> + 1 · 2<sup>1</sup> =  64 + 32 + 16 + 4 + 2 = 118.<br> ОТВЕТ: <i><b>118</b></i></p><br><br>
                            <p><b>Рассмотрим еще один пример задачи №10</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>Среди приведённых ниже трёх чисел, записанных в различных системах счисления,<br> найдите минимальное и запишите его в ответе в десятичной системе счисления.<br> В ответе запишите только число, основание системы счисления указывать не нужно.<br><br>14<sub>16</sub>, 17<sub>8</sub>, 10011<sub>2</sub>.</p>
                            <p><b>Решение</b></p>
                            <p>Переведём все числа в десятичную систему счисления:
                                <br><br>1) 14<sub>16</sub> = 1 · 16<sup>1</sup> + 4 · 16<sup>0</sup>(число в 0 степени дает 1) = 16 + 4 = 20<sub>10</sub>;
                                <br><br>2) 17<sub>8</sub> = 1 · 8<sup>1</sup> + 7 · 8<sup>0</sup> = 8 + 7 = 15<sub>10</sub>;
                                <br><br>3) 10011<sub>2</sub> = 1 · 2<sup>4</sup> + 0 · 2<sup>3</sup> + 0 · 2<sup>2</sup> + 1 · 2<sup>1</sup> + 1 · 2<sup>0</sup> = 16 + 2 + 1 = 19<sub>10</sub>.
                                <br><br>Таким образом, наименьшим среди этих трёх чисел является число 15.<br>ОТВЕТ: <i><b>15</b></i></p> <br>
                            <hr><br>
                            <h3 id="task11"><b>Задание №11</b></h3><br><br>
                            <p>В этих заданиях мы используем поиск операционной системы и текстового редактора</p>
                            <p><b>Задача</b></p>
                            <p>В одном из стихотворений В. В. Маяковского, текст которого приведён в подкаталоге<br> <b>Маяковский</b> каталога <b>Поэзия</b>, автор сравнивает нечто с добычей радия.<br> С помощью поисковых средств операционной системы и текстового<br> редактора выясните это.</p>
                            <a href="files/11 задание.rar" download>11 задание.rar</a><br> <br>
                            <p><b>Решение</b></p>
                            <p>Откроем архив и перейдем в подкаталог Маяковский. В строке поиска введём «добыча радия».<br> Таким образом, найдём файл Поэзия. Откроем этот файл и <br>с помощью поисковых средств текстового редактора найдём, с <br>чем автор сравнивает добычу радия:
                                <br><br><i>«Поэзия — та же добыча радия.».</i><br>
                                <br>Таким образом, верный ответ — поэзия.<br> ОТВЕТ: <i><b>поэзия</b></i></p><br><br>
                            <p><b>Рассмотрим еще один пример задачи №11</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>В одном из произведений Н. В. Гоголя, текст которого приведён в подкаталоге<br> <b>Гоголь</b> каталога <b>Проза</b>, присутствует персонаж Аммос Федорович.<br> С помощью поисковых средств операционной системы и <br>текстового редактора выясните профессию этого персонажа.
                            <br>Выполните задание, распаковав архив на своём компьютере.</p>
                            <a href="files/DEMO-12.rar" download>DEMO-12.rar</a><br> <br>
                            <p><b>Решение</b></p>
                            <p>Откроем архив и перейдем в подкаталог Гоголь каталога Проза. В строке поиска введём<br>  «Аммос Федорович».Таким образом, найдём файл Ревизор. Откроем этот файл и <br>с помощью поисковых средств текстового редактора найдём профессию<br> этого персонажа — судья. Запишем ответ.<br>ОТВЕТ: <i><b>судья</b></i></p> <br>
                            <hr><br>
                            <h3 id="task12"><b>Задание №12</b></h3><br><br>
                            <p>В данных заданиях используются поисковые средства операционной системы</p>
                            <p><b>Задача</b></p>
                            <p>Сколько файлов с расширением .txt содержится в подкаталогах каталога <b>Поэзия</b>? В ответе укажите только число.</p>
                            <a href="files/12 задание.rar" download>12 задание.rar</a><br><br>
                            <p><b>Решение</b></p>
                            <p>Спустимся в каталог Поэзия. В строке поиска введём «*."txt"», где символ * — любое количество<br> символов. Результатом поискового запроса будет список всех файлов<br> в подкаталогах каталога Поэзия с расширением .txt. Таких файлов 12.<br> ОТВЕТ: <i><b>12</b></i></p><br><br>
                            <p><b>Рассмотрим еще один пример задачи №12</b></p><br><br>
                            <p><b>Задача</b></p>
                            <p>Сколько файлов с расширением htm объёмом не менее 1024 Кб каждый содержится в<br> подкаталогах каталога <b>DEMO-12</b>? В ответ укажите только число.</p>
                            <a href="files/Файлы 12.rar" download>файлы 12.rar</a><br><br>
                            <p><b>Решение</b></p>
                            <p>Спустимся в каталог DEMO-12. В строке поиска введём «*."htm"», где символ * — любое<br> количество символов. Результатом поискового запроса будет список<br> всех файлов в подкаталогах каталога DEMO-12 с расширением .htm.<br> Таких файлов 25. Из них объёмом не менее 1024 Кб:
                                <br><br>1. Чехов Антон Павлович - Полное собрание рассказов.htm (1,92 Мб); 
                                <br>2. А. П. Чехов - Палата №6. Сборник.htm (1,15 Мб);
                                <br>3. Достоевский Ф. М. - Идиот.htm (1,31 Мб).<br>ОТВЕТ: <i><b>3</b></i></p> <br>
                            <hr><br>
                            <h3 id="task13"><b>Задание №13</b></h3><br><br>
                            <p>В заданиях 13 вам предстоит выбрать, что вы будете делать - презентацию (13.1) или набор текста (13.2) <br> <b><i>Совет</i></b>: у задания 13.1 немного жесткие критерии по сравнению с заданием 13.2, <br>но какое выполнять из них - решаете вы. Рассмотрим по примеру от каждого.</p><br>
                            <div class="text">
                                <p><b>Выберите ОДНО из предложенных ниже заданий: 13.1 или 13.2.</b></p>
                                <p style="text-indent: 25px;"><b>13.1</b> Используя информацию и иллюстративный материал, содержащийся в каталоге «Воробей», создайте<br>презентацию из трёх слайдов на тему «Воробей». В презентации должны содержаться краткие иллюстрированные<br>сведения
                                    о внешнем виде, об ареале обитания, образе жизни и рационе воробьев. Все слайды должны быть выполнены<br>в едином стиле, каждый слайд должен быть озаглавлен.</p>
                                <p style="text-indent: 25px;">Презентацию сохраните в файле, имя которого Вам сообщат организаторы экзамена. Файл ответа необходимо сохранить в<br>одном из следующих форматов: *.odp, или *.ppt, или *.pptx.</p>
                                <a class="kt7" href="files/Воробей.rar" download style="color: #0d6efd;">Воробей.rar</a><br><br>
                                <p style="text-indent: 25px;"><b>13.2</b> Создайте в текстовом редакторе документ и напишите в нём следующий текст, точно воспроизведя всё оформление<br>текста, имеющееся в образце.</p>
                                <p style="text-indent: 25px;">Данный текст должен быть набран шрифтом размером 14 пунктов обычного начертания. Отступ первой строки первого<br>абзаца основного текста — 1 см. Расстояние между строками текста не менее одинарного, но не более полуторного<br>междустрочного
                                    интервала.
                                </p>
                                <p style="text-indent: 25px;">Основной текст выровнен по ширине; в ячейках таблицы применено выравнивание по левому краю. В основном тексте и<br>таблице есть слова, выделенные полужирным, курсивным шрифтом и подчёркиванием. Ширина таблицы меньше ширины<br>основного
                                    текста. Таблица выровнена на странице<br>по центру горизонтали.</p>
                                <p style="text-indent: 25px;">При этом допустимо, чтобы ширина Вашего текста отличалась от ширины текста в примере, поскольку ширина текста<br>зависит от размеров страницы и полей. В этом случае разбиение текста на строки должно соответствовать стандартной
                                    ширине
                                    <br>абзаца.</p>
                                <p style="text-indent: 25px;">Интервал между текстом и таблицей не менее 12 пунктов, но не более 24 пунктов.</p>
                                <p style="text-indent: 25px;">Текст сохраните в файле, имя которого Вам сообщат организаторы. Файл ответа необходимо сохранить в одном из<br>следующих форматов: *.odt, или *.doc, или *.docx.</p>
                                <img class="imgm6" src="assets/13.png" width="630px">
                            </div><br><br>
                            <p><b>Решение</b></p>
                            <p>Для того чтобы правильно решать задания 13.1 и 13.2, воспользуйтесь памяткой решения:</p>
                            <br><a href="files/13.docx" download style="color: #0d6efd;">Задание 13 памятка</a><br><br><br>
                            <hr><br>
                            <h3 id="task14"><b>Задание №14</b></h3><br><br>
                            <p>В заданиях 14 представлена работа с большим количеством данных в Excel таблицах. Рассмотрим примеры.</p><br>
                            <div class="text">
                                <p style="text-indent: 25px;">В электронную таблицу занесли данные олимпиады по математике. Ниже приведены первые пять строк таблицы:</p>
                                <br><img class="imgm7" src="assets/14.png" width="380px"><br><br>
                                <p style="text-indent: 25px;">В столбце A записан номер участника; в столбце B — номер школы; в столбце C — класс; в столбце D — набранные баллы.<br> Всего в электронную таблицу были занесены данные по 1000 участникам.</p>
                                <p><b>Выполните задание.</b></p>
                                <p style="text-indent: 25px;">Откройте файл с данной электронной таблицей (расположение файла Вам сообщат организаторы экзамена). На основании <br>данных, содержащихся в этой таблице, ответьте на два вопроса.</p>
                                <p style="text-indent: 25px;">1. Сколько девятиклассников набрали более 250 баллов? Ответ на этот вопрос запишите в ячейку H2 таблицы.</p>
                                <p style="text-indent: 25px;">2. Каков средний балл, полученный учениками школы № 3? Ответ на этот вопрос запишите в ячейку H3 таблицы с<br> точностью не менее двух знаков после запятой.</p>
                                <p style="text-indent: 25px;">3. Постройте круговую диаграмму, отображающую соотношение количества участников из 49, 46 и 48 школ. Левый верхний<br> угол диаграммы разместите вблизи ячейки G6.</p>
                                <a class="kt8" href="files/task14.xlsx" download style="color: #0d6efd;">task 14.xlsx</a>
                            </div><br>
                            <p><b>Решение</b></p>
                            <p>Задачи решаются с помощью формул. Рассмотрим решения с<br> некоторыми формулами на примере этой задачи</p>
                            <br><p>1. В ячейку Е2 запишем формулу =<b>И(C2=9;D2>250)</b>. Скопируем формулу во все ячейки диапазона Е3:Е1001.<br> В ячейку H2 запишем формулу =<b>СЧЁТЕСЛИ(E2:E1001;ИСТИНА)</b>. Таких 107.<br>
                                <br>2. В ячейку H3 запишем формулу, определяющую отношение суммы баллов учеников школы № 3 к количеству <br>учеников этой школы: =<b>СУММЕСЛИ(B2:B1001;"3";D2:D1001)/СЧЁТЕСЛИ(B2:B1001;"3")</b>. Получаем: 225,73.<br>
                                <br>3. В ячейку G2 вставим формулу =<b>СЧЁТЕСЛИ(B2:B1001; "49")</b>, в ячейку G3 вставим формулу =<b>СЧЁТЕСЛИ(B2:B1001; "46")</b>,<br> в ячейку G4 вставим формулу =<b>СЧЁТЕСЛИ(B2:B1001; "48")</b>. Теперь построим по полученным значениям круговую диаграмму, подпишем сектора.</p>
                                <br><br>
                                <p><b>Рассмотрим еще один пример задачи №14</b></p><br><br>
                                    <p><b>Задача</b></p>
                                    <div class="text">
                                        <p style="text-indent: 25px;">В электронную таблицу занесли данные наблюдения за погодой в течение одного года.<br> Ниже приведены первые пять строк таблицы.</p>
                                        <br><img class="imgm8" src="assets/14 (2).png" width="450px"><br><br><br>
                                        <p style="text-indent: 25px;">В столбце A записана дата наблюдения, в столбце B — среднесуточная температура воздуха для указанной даты,<br> в столбце C — количество выпавших осадков (в миллиметрах) для указанной даты,<br> в столбце D — среднесуточное атмосферное давление (в миллиметрах ртутного столба).<br> В столбце E записано направление ветра для указанной даты — одно <br>из восьми возможных значений «СЗ», «С», «СВ», «В», «ЮВ», «Ю», «ЮЗ», «З».<br> В столбце F записана среднесуточная скорость ветра (в метрах в секунду).<br> Всего в электронную таблицу были занесены данные по всем 365 дням года в хронологическом порядке.</p>
                                        <p style="text-indent: 25px;">Откройте файл с данной электронной таблицей (расположение файла Вам сообщат организаторы экзамена). На основании <br>данных, содержащихся в этой таблице, ответьте на два вопроса.</p>
                                        <p style="text-indent: 25px;">1. Каким было среднее значение атмосферного давления в весенние месяцы (март, апрель, май)?<br> Ответ на этот вопрос запишите в ячейку H2 таблицы.</p>
                                        <p style="text-indent: 25px;">2. Какое среднее количество осадков выпадало за сутки в те дни года, когда дул северо-западный (СЗ) ветер?<br> Ответ на этот вопрос запишите в ячейку H3 таблицы.<br> Ответы должны быть вычислены с точностью не менее двух знаков после запятой.</p>
                                        <p style="text-indent: 25px;">3. Постройте круговую диаграмму, отображающую соотношение направлений ветров «З», «СЗ», «ЮВ».<br> Левый верхний угол диаграммы разместите вблизи ячейки G6.</p>
                                        <a class="kt8" href="files/task 14.xls" download style="color: #0d6efd;">task 14.xls</a>
                                    </div><br>
                                    <p><b>Решение</b></p>
                                    <p>1.Поскольку весенние месяцы идут в файле подряд, необходимости использовать формулу <b>«СЧЁТЕСЛИ»</b> нет,<br> поэто му в ячейку H2 запишем формулу: <b>=СРЗНАЧ(D61:D152)</b>. Таким образом, ответ<br> на первый вопрос 767,46 мм. рт. ст.<br>
                                    <br>2. В ячейку H3 запишем формулу: <b>=СУММЕСЛИ(E2:E366;"СЗ";C2:C366)/СЧЁТЕСЛИ(E2:E366;"СЗ")</b>.<br> Ответ на второй вопрос: 1,99.<br>
                                    <br>3. В ячейку J2 вставим формулу <b>=СЧЁТЕСЛИ(E2:E366; "З")</b>, в ячейку J3 вставим<br> формулу <b>=СЧЁТЕСЛИ(E2:E366; "СЗ")</b>, в ячейку J4 вставим формулу <b>=СЧЁТЕСЛИ(E2:E366; "ЮВ")</b>.<br> Теперь построим по полученным значениям круговую диаграмму,</p>
                                <br>
                                <p>Чтобы ознакомиться со всеми формулами Экселя, перейдите по ссылке ниже</p><a href="https://support.microsoft.com/ru-ru/office/функции-excel-по-алфавиту-b3944572-255d-4efb-bb96-c6d90033e188"><p>Полный список формул Excel</p></a><br>
                                <hr><br>
                                <h3 id="task15"><b>Задание №15</b></h3><br><br>
                                <p>В задании 15 вам снова предстоит выбрать между 15.1 (Кумир) и 15.2 (Паскаль или Питон)<br><b><i>Совет</i></b>: Кумир (15.1) выполняется намного быстрее и легче, чем программа на Паскале или Питоне.<br> Рассмотрим пример.</p><br>
                                <div class="text">
                                    <p><b>Выберите ОДНО из предложенных ниже заданий: 15.1 или 15.2.</b></p>
                                    <p style="text-indent: 25px;"><b>15.1</b> На бесконечном поле имеются две вертикальные стены одинаковой длины, расположенные точно<br> одна напротив другой. Длина стен неизвестна. Расстояние между стенами неизвестно. Робот находится<br> справа от первой стены в клетке, расположенной у её нижнего края. На рисунке указан один из<br> возможных способов расположения стен и Робота (Робот обозначен буквой «Р»).</p>
                                    <p style="text-indent: 25px;">Напишите для Робота алгоритм, закрашивающий все клетки самого верхнего ряда, расположенные<br> между стенами. Робот должен закрасить только клетки, удовлетворяющие данному условию. Например,<br> для приведённого выше рисунка Робот должен закрасить следующие клетки (см. рис.).</p>
                                    <p style="text-indent: 25px;">Конечное расположение Робота может быть произвольным. Алгоритм должен решать задачу для<br> произвольного размера поля и любого допустимого расположения стен внутри прямоугольного поля. При<br> исполнении алгоритма Робот не должен разрушиться.<br>Алгоритм может быть выполнен в среде формального исполнителя или записан в текстовом редакторе.</p>
                                    <p style="text-indent: 25px;"><b>15.2</b> Напишите программу, которая в последовательности натуральных чисел вычисляет сумму всех двузначных чисел, кратных<br> 8. Программа получает на вход натуральные числа, количество введённых чисел неизвестно, последовательность чисел<br> заканчивается числом 0 (0 – признак окончания ввода, не входит в последовательность). Количество чисел не превышает 1000.<br> Введённые числа не превышают 30 000.<br>Программа должна вывести одно число: сумму всех двузначных чисел, кратных 8.</p>
                                    <p><b>Пример работы программы:</b></p>
                                    <img class="imgm8" src="assets/15(1).png" width="350px"><br><br>
                                    <p><b>Кумир:</b></p>
                                    <img class="imgm9" src="assets/15(2).png" width="153px">
                                    <img class="imgm10" src="assets/15(3).png" width="150px">
                                </div><br>
                                <p><b>Решение</b></p>
                                <p>
                                    <b>15.1</b> Команды исполнителя будем записывать жирным шрифтом, а комментарии, поясняющие алгоритм и не <br>являющиеся его частью, – курсивом. Начало комментария будем обозначать символом «|».
                                        <br>| <i>Двигаемся вверх, пока не дойдём до верхнего края вертикальной стены</i>
                                        <br><b>нц пока не слева свободно</b>
                                        <br><b>вверх</b>
                                        <br><b>кц</b>
                                        <br>| <i>Переместимся на одну клетку вниз и закрасим её</i>
                                        <br><b>вниз</b>
                                        <br><b>закрасить</b>
                                        <br>| <i>Двигаемся вправо, пока не дойдём до второй вертикальной стены, по пути закрашивая все клетки</i>
                                        <br><b>нц пока справа свободно</b>
                                        <br><b>вправо</b>
                                        <br><b>закрасить</b>
                                        <br><b>кц</b>
                                        <br>Возможны и другие варианты решения.
                                        <br>Допускается использование иного синтаксиса инструкций исполнителя, более привычного для учащихся.
                                        <br>Допускается наличие отдельных синтаксических ошибок, не искажающих замысла автора решения.
                                        <br><br><b>15.2</b> Решением является программа, записанная на любом языке программирования.<br> Пример верного решения, записанного на языке Паскаль:<br>
                                </p>
                                <div class="code" style="display: flex; flex-direction: column; align-items: center;">
                                    <code><b>
                                        var a, s: integer;
                                        <br>begin
                                        <br>s:=0;
                                        <br>readln(a);
                                        <br>while a <> 0 do begin
                                        <br>if (a mod 8 = 0) and (a > 9) and (a < 100) then
                                        <br>s := s + a;
                                        <br>readln(a); end;
                                        <br>writeln(s)
                                        <br>end.
                                    </b>
                                </code>
                                </div>
                                <br>
                                <p>Чтобы понять как работать с Кумиром и понять его команды, то перейдите по ссылке ниже.</p><a href="https://myrobot.ru/logo/performer_robot_commands.php">Памятка Кумир</a><br>
                                <hr><br><br><br>
                                <h2><b><i>Конец!</i></b></h2><br><h4>Если вы прочитали всё вышесказанное, то вы почти готовы к экзамену.<br> Просмотрите отдельные видеообучалки и попрактикуйтесь для<br> закрепления знаний на реальных вариантах.</h4><br>
                                <a href="/main">Вернуться на главную страницу</a>
                                <br><br><br>
                            </div>  
            </div>            
    </div>
    </main>
    <footer class="footer py-3 my-5">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/pamyatkaplus" class="nav-link"><span class="span">Памятка+</span></a></li>
            <li class="nav-item"><a href="/reminder" class="nav-link">Инструкция</a></li>
            <li class="nav-item"><a href="/video" class="nav-link">Отдельные видеообучалки</a></li>
            <li class="nav-item"><a href="https://inf-oge.sdamgia.ru/" class="nav-link">Исходники</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 Company, Inc</p>
    </footer>
    </div>
</body>

</html>